useDynLib(blockjack, .registration=TRUE)
export(block_jackknife_fit)
export(bjlm)
export(block_jackknife_lm)
S3method(print,bjlm)
S3method(summary,bjlm)
S3method(print,summary.bjlm)
importFrom(Rcpp,evalCpp)
importFrom(stats,model.frame)
importFrom(stats,model.matrix)
importFrom(stats,model.response)
importFrom(stats,pnorm)
importFrom(stats,printCoefmat)
importFrom(stats,terms)
